<main class="bg-wsmoke container center shadow h-fit-content" id="full-screen">


    <div class="main ml-10 mr-10 mt-5" id="mb-35">
        <div class="text-start flex-row mobil">
            <a class="c-black" href="https://cdn.pixabay.com/photo/2015/02/01/21/16/chalkboard-620316_640.jpg">
                <img class="round w-250 h-200 border shadow" id="img-width"
                    src="https://cdn.pixabay.com/photo/2015/02/01/21/16/chalkboard-620316_640.jpg" />
            </a>
            <section class="mt-80 mobil">
                <ul class="style-none flex-row">
                    <li><a class="large deco-none" href="https://www.linkedin.com/in/isak-gunnardo-791191247/"><fa-icon
                                [icon]="linkedin"></fa-icon></a></li>
                    <li><a class="large deco-none" href="https://www.facebook.com/isak.carlson"><fa-icon
                                [icon]="facebook"></fa-icon></a></li>
                    <li><a class="large deco-none" href="https://github.com/IsakGunnardo"><fa-icon
                                [icon]="github"></fa-icon></a></li>


                </ul>

                <div class="hidden-scroll">
                    <span><strong>Name:</strong> Isak Gunnardo</span>
                    <br />
                    <span><strong>Email:</strong> isak.gunnardo&#64;hotmail.com </span>
                    <br />
                    <span><strong>Phone:</strong> +46 738 284 775</span>
                </div>

            </section>
        </div>

        <div class="flex-col text-start mt-2 hidden-scroll h-250 mb-5">
            <h3 class="float-left">About me:</h3>
            <article>My name is Isak Gunnardo and i belive that everyone got a story to tell. By letting people tell their story in this blog 
                we can share the world with eachother. So dont be afraid to tell others. <strong>Tell Your Story!</strong> 
            </article>
        </div>
        <footer class="footer h-25  w-100 ">
            <section class=" mb-2 w-60" id="w-100">
                <form class="text-start w-100 mb-2" id="m-form" (ngSubmit)="onSubmit()" [formGroup]="formVar">
                    <legend>Contact me:</legend>

                    <input class="w-100 pl-2 " type="text" id="name" formControlName="name" placeholder="Name:" />
                    <br />

                    <input class="w-100 pl-2" type="email" id="email" formControlName="email" placeholder="Email:" />
                    <br />

                    <textarea class="w-100 pl-2" id="textarea" formControlName="textarea"
                        placeholder="Write your message here.."></textarea>
                    <br />
                    <button type="submit">Submit</button>

                </form>
            </section>
        </footer>
    </div>


</main>