<footer class="flex-row space-between">
    <section class="mt-2">
        <ul class="style-none">
            <li><a href="https://www.facebook.com"><fa-icon [icon]="facebook"></fa-icon>Facebook</a></li>
            <li><a href="https://www.linkedin.com"><fa-icon [icon]="linkedin"></fa-icon>Linkedin</a></li>
            <li><a href="https://github.com"><fa-icon [icon]="github"></fa-icon>Github</a></li>
        </ul>
    </section>
    <section>
        <form class="mt-2 w-100" (ngSubmit)="onSubmit()" [formGroup]="footForm">
            <legend>Contact me:</legend>

            <input class="h-25 p-2 name" type="text" id="name" formControlName="name" placeholder="Name:" />
            <br />

            <input class="h-25 p-2 pl-1 email" type="email" id="email" formControlName="email" placeholder="Email:" />
            <br />

            <textarea class="p-2 textarea" id="textarea" formControlName="textarea"
                placeholder="Write your message here.."></textarea>

            <button type="submit">Submit</button>

        </form>
    </section>

</footer>