/* container */
.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;

}

.img-width {
    border-radius: 100%;
    width: 35%;
    margin-top: 15px;
    border: 5px black solid;
    box-shadow: 5px 10px 10px 0px;
}


@media screen and (max-width: 1200px) {
    #full-screen {
        width: 100%;
        margin: 0;
    }

    #mobil-img {
        margin-top: 10%;
        width: 150px;
        height: 150px;


    }

    .right-place {
        margin-left: 30px;
    }
}

/* width */
.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-60 {
    width: 60%;
}

.w-20 {
    width: 20%;
}

.w-250 {
    width: 250px;
}

/* height */
.h-30px {
    height: 30px;
}

.h-40 {
    height: 40%;
}

.h-200 {
    height: 200px;
}

.h-full-vh {
    height: 100vh;
}

/* margin-left */
.ml-10 {
    margin-left: 10%;
}

.ml-20 {
    margin-left: 20%;
}

.ml-5 {
    margin-left: 5%;
}

.ml-2 {
    margin-left: 2%;
}

/* margin top */
.mt-2 {
    margin-top: 2%;
}

.mt-5 {
    margin-top: 5%;
}

/* margin-bottom */
.mb-5 {
    margin-bottom: 5%;
}

.mb-2 {
    margin-bottom: 2%;
}

/* margin right */
.mr-10 {
    margin-right: 10%;
}

.mr-20 {
    margin-right: 20%;
}

.mr-5 {
    margin-right: 5%;
}

.mr-2 {
    margin-right: 2%;
}

/* padding */
.p-2 {
    padding-top: 2%;
}

/* flexbox */
.flex-wrap-gap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 9%;

}

.flex-gap {
    display: flex;
    gap: 20px
}

/* space-between */
.space-between {
    display: flex;
    justify-content: space-evenly;
}

/* border-radius */
.br-20 {
    border-radius: 20px;
    border: 0.2px solid black;
}

.br-0220 {
    border-radius: 0px 20px 20px 0px;
    border: 0.2px solid black;

}

.br-2200 {
    border-radius: 20px 20px 0px 0px;
    border: 0.2px solid black;

}

.br-0022 {
    border-radius: 0px 0px 20px 20px;
    border: 0.2px solid black;

}



.border {
    border: 0.4px solid black;
}

/* text align */
.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}


/* background-color */
.bg-wsmoke {
    background-color: whitesmoke;
}

.bg-lgray {
    background-color: lightgray;
}

/* box-shadow */
.shadow {
    box-shadow: 0px 10px 10px 0px;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* hover */
.scale:hover {
    scale: 1.02;
}

.hover:hover {
    background-color: rgb(192, 186, 186);
}

/* position */
.absolute {
    position: absolute;
}

/* font-size */
.xlarge {
    font-size: 50px;
}

/* list-style */

.style-none {
    list-style: none;
}

.hidden {
    overflow: scroll;
    height: 400px;
}